.alert {
  color: #fff;
  &:not(.alert-light) a {
    color: #fff;
  }
  &.alert-primary {
    background-color: color(primary);
  }
  &.alert-secondary {
    background-color: color(secondary);
  }
  &.alert-success {
    background-color: color(success);
  }
  &.alert-info {
    background-color: color(info);
  }
  &.alert-warning {
    background-color: color(warning);
  }
  &.alert-danger {
    background-color: color(danger);
  }
  &.alert-light {
    background-color: color(light);
    color: color(fontdark);
  }
  &.alert-dark {
    background-color: color(dark);
  }
}
